{% extends "base.html" %}

{% block content %}
    <h2>Data Atual: {{ current_datetime }}</h2>
    <div class="button-container">
        <a href="{{ url_for('registrar_colmeia_page') }}" class="button">Registrar Colmeia</a>
        <a href="{{ url_for('registrar_inspecao_page') }}" class="button">Registrar Inspeção</a>
        <a href="{{ url_for('registrar_producao_page') }}" class="button">Registrar Produção</a>
        <a href="{{ url_for('verificar_alertas') }}" class="button">Verificar Alertas</a>
    </div>
{% endblock %}