{% extends "base.html" %}

{% block content %}
    <h2>Registrar Produção</h2>
    <form action="{{ url_for('registrar_producao') }}" method="post">
        <div class="form-group">
            <label for="colmeia_id_producao">Colmeia:</label>
            <select id="colmeia_id_producao" name="colmeia_id" title="Selecione a Colmeia" required>
                <option value="" disabled selected>Selecione uma Colmeia</option>
                {% for colmeia in colmeias %}
                    <option value="{{ colmeia.id }}">{{ colmeia.codigo }} - {{ colmeia.localizacao }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="quantidade_mel">Quantidade de Mel (kg):</label>
            <input type="number" step="0.01" id="quantidade_mel" name="quantidade_mel" title="Quantidade de Mel" placeholder="Digite a quantidade de mel" required>
        </div>
        
        <div class="form-group">
            <label for="qualidade">Qualidade:</label>
            <select id="qualidade" name="qualidade" title="Qualidade do Mel" required>
                <option value="" disabled selected>Selecione a Qualidade</option>
                <option value="Acácia">Acácia</option>
                <option value="Angico">Angico</option>
                <option value="Aroeira">Aroeira</option>
                <option value="Bamburral">Bamburral</option>
                <option value="Café">Café</option>
                <option value="Cajuja">Cajuja</option>
                <option value="Capixingui">Capixingui</option>
                <option value="Cipó-Uva">Cipó-Uva</option>
                <option value="Eucalipto">Eucalipto</option>
                <option value="Jitirana">Jitirana</option>
                <option value="Laranjeira">Laranjeira</option>
                <option value="Marmeleiro">Marmeleiro</option>
                <option value="Quitoco">Quitoco</option>
                <option value="Uva-Japonesa">Uva-Japonesa</option>
            </select>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Registrar">
        </div>
    </form>
    <a href="{{ url_for('index') }}" class="button">Voltar</a>
{% endblock %}